jaxb/jaxb-simple/src/main/resources/META-INF/xsd/customer-03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:ex03ns="http://marmac.name/tutorials/java/jaxb/jaxbsimple/example3/"
        xmlns:cust02ns="http://marmac.name/tutorials/java/jaxb/jaxbsimple/example2/"

        targetNamespace="http://marmac.name/tutorials/java/jaxb/jaxbsimple/example3/"
        attributeFormDefault="unqualified"
        elementFormDefault="qualified" >


        <xsd:import
                namespace="http://marmac.name/tutorials/java/jaxb/jaxbsimple/example2/"
                schemaLocation="customer-02.xsd"
                />


    <xsd:complexType name="fullPersonInfo">
      <xsd:complexContent>
        <xsd:extension base="cust02ns:personInfoType">
          <xsd:sequence>
            <xsd:element name="address" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="zipCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="employee" type="ex03ns:fullPersonInfo"/>
    <xsd:element name="customer" type="cust02ns:personInfoType"/>
    <xsd:element name="student" type="cust02ns:personInfoType"/>
</xsd:schema>